$header-border: rgba(236, 236, 236, 1);
$gray-text: rgba(117, 117, 117, 1);
$hover-color: rgba(33, 150, 243, 1);
$h-color: rgba(33, 33, 33, 1);
$white-text: rgba(255, 255, 255, 1);
$back-color: rgba(47, 48, 58, 1);
$rect-color: rgba(245, 244, 250, 1);
$social-color: rgba(175, 177, 184, 1);
$border-color: rgba(175, 177, 184, 1);
$company-color: rgba(175, 177, 184, 1);
$enjoy-hover: rgba(255, 255, 255, 0.1);
$background-spec: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
$background-modal: #ffffff;
$close-button: #000000;
$team-back: rgba(245, 244, 250, 1);
$address-color-link: rgba(255, 255, 255, 0.6);
$main-address-color: rgba(255, 255, 255, 1);
$footer-studio: rgba(255, 255, 255, 1);
$form-border-color: rgba(33, 33, 33, 0.2);
$checkbox-link: rgba(33, 150, 243, 1);
$submit-color: rgba(24, 140, 232, 1);
$commentary-form: rgba(117, 117, 117, 0.5);
$agreement-text: #757575;
$checkbox-border: rgba(33, 33, 33, 1);
$subscribe-border: rgba(255, 255, 255, 0.3);
$btn-hover: rgba(33, 150, 243, 1);
$btn-color: rgba(245, 244, 250, 1);
$project-overlay: rgba(33, 150, 243, 0.9);
$project-title: rgba(33, 33, 33, 1);
$project-text: rgba(117, 117, 117, 1);
