body {
  font-family: 'Roboto', sans-serif;
}

header {
  border-bottom: 1px solid #ececec;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
  min-width: 250px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-with: 768px) {
  .navigation-container {
    height: 80px;
  }
}

.page-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  position: relative;
  display: inline;
}

@media (min-width: 768px) {
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-nav__logo {
  color: #212121;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  display: inline;
}

@media (min-width: 1200px) {
  .page-nav__logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.page-nav__web {
  color: #2196f3;
  text-decoration: none;
}

.page-nav__list {
  display: none;
}

.page-nav__list li:first-child {
  margin-right: 50px;
}

.page-nav__list li:last-child {
  margin-left: 50px;
}

@media (min-width: 768px) {
  .page-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .page-nav__list {
    margin-left: 93px;
  }
}

.page-nav__list .nav-list__link.current {
  color: #2196f3;
}

.page-nav__list .nav-list__link.current::after {
  opacity: 1;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}

.contacts-list {
  margin-left: 84px;
  display: none;
}

.contacts-list li:first-child {
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .contacts-list li:first-child {
    margin: 0;
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .contacts-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 305px;
  }
}

.contacts-list__item {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item:hover, .contacts-list__item:focus {
  color: #2196f3;
}

@media (min-width: 1200px) {
  .contacts-list__item {
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*svg contacts navigation*/
.contacts-list__mail {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: currentColor;
}

@media (min-width: 1200px) {
  .contacts-list__mail {
    width: 16px;
    height: 12px;
  }
}

.contacts-list__tel {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;
}

@media (min-width: 1200px) {
  .contacts-list__tel {
    width: 10px;
    height: 16px;
  }
}

.mobile-nav {
  margin-bottom: 306px;
}

.mobile-nav li:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__link:focus {
  color: #2196f3;
}

@media (min-width: 300px) {
  .mobile-nav__link {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (min-width: 360px) {
  .mobile-nav__link {
    font-size: 40px;
    line-height: 47px;
  }
}

.mobile-nav__contacts {
  margin-bottom: 32px;
}

.mobile-nav__contacts li:first-child {
  margin-bottom: 32px;
}

.mobile-nav__tel {
  font-size: 24px;
  line-height: 25px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-nav__tel:focus {
  color: #2196f3;
}

@media (min-width: 300px) {
  .mobile-nav__tel {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (min-width: 360px) {
  .mobile-nav__tel {
    font-size: 34px;
    line-height: 40px;
  }
}

.mobile-nav__mail {
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-nav__mail:focus {
  color: #2196f3;
}

@media (min-width: 300px) {
  .mobile-nav__mail {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (min-width: 360px) {
  .mobile-nav__mail {
    font-size: 24px;
    line-height: 28px;
  }
}

.mobile-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav__social li:not(:last-child) {
  padding-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-nav__social li:not(:first-child) {
  padding-left: 5px;
}

@media (min-width: 300px) {
  .mobile-nav__social {
    font-size: 13px;
    line-height: 22px;
  }
}

@media (min-width: 360px) {
  .mobile-nav__social {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 390px) {
  .mobile-nav__social {
    font-size: 18px;
  }
}

.mobile-nav__social-link {
  color: #2196f3;
}

.mobile-open-button {
  background-color: transparent;
  border: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  display: inline;
}

.mobile-open-button:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .mobile-open-button {
    display: none;
  }
}

.mobile-close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.mobile-close-button:focus {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 48px;
  padding-right: 15px;
  background-color: white;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media (min-width: 360px) {
  .menu-container {
    padding-left: 40px;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav .mobile-nav__link.mobile-current {
  color: #2196f3;
}

.mobile-nav .mobile-nav__link.mobile-current::after {
  opacity: 1;
}

/*hero*/
.hero {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .hero {
    padding: 94px 0;
  }
}

.hero-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc 33.33333%;
      flex-basis: calc 33.33333%;
}

@media (min-width: 768px) {
  .hero-btn-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-btns {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .hero-btns {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .hero-btns {
    margin-bottom: 50px;
  }
}

.hero-btn-list__item {
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  background: #f5f4fa;
  color: #212121;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-list__item:hover, .hero-btn-list__item:focus {
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .hero-btn-list__item {
    margin-bottom: 0;
  }
}

/*projects*/
.project-list {
  margin-top: calc(-1 * 30px);
}

@media (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
  }
}

.project-group__item {
  border: 1px solid #eeeeee;
  margin-top: 30px;
  -ms-flex-preferred-size: calc(100% / 1 - 30px);
      flex-basis: calc(100% / 1 - 30px);
}

@media (max-width: 767px) {
  .project-group__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .project-group__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .project-group__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.project-group__link {
  display: block;
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-group__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-group__link:hover .project-overlay,
.project-group__link:focus .project-overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project-group__link:hover, .project-group__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-container {
  height: 404px;
}

@media (min-width: 480px) {
  .project-container {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .project-container {
    width: 100%;
    height: 440px;
  }
}

@media (min-width: 1200px) {
  .project-container {
    height: 404px;
  }
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb img {
  width: 100%;
  height: 294px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*overlay*/
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overlay__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: white;
}

@media (min-width: 300px) {
  .project-overlay__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 360px) {
  .project-overlay__text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 430px) {
  .project-overlay__text {
    font-size: 18px;
    line-height: 28px;
  }
}

/*overlay end*/
.project-card {
  padding: 20px 24px;
}

.project-card__title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.06em;
}

@media (min-width: 480px) {
  .project-card__title {
    font-size: 18px;
    line-height: 36px;
  }
}

.project-card__text {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

@media (min-width: 480px) {
  .project-card__text {
    font-size: 16px;
    line-height: 30px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 1200px) {
  .footer-text {
    text-align: start;
  }
}

.footer-text__logo {
  color: #212121;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.footer-text__logo-studio {
  color: white;
}

.address__main {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address-list__item:first-child {
  margin: 9px 0px;
}

.address-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/*svg footer*/
.join {
  height: 80px;
  margin-top: 60px;
  text-align: center;
}

@media (min-width: 1200px) {
  .join {
    text-align: start;
  }
}

.join__head {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.join-list {
  width: 206px;
  padding: 0px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list__item:hover, .join-list__item:focus {
  color: white;
  background-color: #2196f3;
}

.join-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*subscribe*/
.subscribe {
  margin-top: 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .subscribe {
    margin: 0;
    text-align: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .subscribe-form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscribe-form-btn__input {
  width: 250px;
  height: 50px;
  padding-left: 16px;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 20px;
}

@media (min-width: 480px) {
  .subscribe-form-btn__input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscribe-form-btn__input {
    width: 358px;
  }
}

.subscribe-form-btn__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .subscribe-form-btn__submit {
    margin-left: 12px;
  }
}

.subscribe-form-btn__icon {
  margin-left: 10px;
  fill: currentColor;
}

.subscribe-form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}
/*# sourceMappingURL=portfolio.css.map */