.address__main {
  color: $white-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address-list__item {
  &:first-child {
    margin: 9px 0px;
  }
}

.address-list__link {
  color: $address-color-link;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
