.enjoy__head {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text;
  margin-left: 70px;
}

.enjoy-list {
  width: 206px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 70px;
  margin-top: 20px;
}

.enjoy-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $white-text;
  background-color: $enjoy-hover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-text;
    background-color: $hover-color;
  }
}

.enjoy-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
