.subscribe {
  margin-left: 105px;
}

.subscribe-form div {
  margin-top: 20px;
}

.subscribe-form .subscribe-form-btn input {
  margin-right: 12px;
}

.subscribe-form-btn {
  display: flex;
}

.subscribe-form-btn__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: $white-text;
  background-color: transparent;
  border: 1px solid $subscribe-border;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-form-btn__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: $white-text;
  background: $hover-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  border: none;
}

.subscribe-form-btn__icon {
  margin-left: 10px;
  fill: currentColor;
}

.subscribe-form__title {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text;
}
