body {
  font-family: 'Roboto', sans-serif;
}

/*hidden title*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*div container*/
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

/*variables*/
:root {
  --gray-text: rgba(117, 117, 117, 1);
  --hover-color: rgba(33, 150, 243, 1);
  --h-color: rgba(33, 33, 33, 1);
  --white-text: rgba(255, 255, 255, 1);
  --back-color: rgba(47, 48, 58, 1);
  --rect-color: rgba(245, 244, 250, 1);
  --social-color: rgba(175, 177, 184, 1);
  --border-color: rgba(175, 177, 184, 1);
  --company-color: rgba(175, 177, 184, 1);
  --enjoy-hover: rgba(255, 255, 255, 0.1);
  --background-spec: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --background-modal: #ffffff;
  --close-button: #000000;
  --team-back: rgba(245, 244, 250, 1);
  --address-color-link: rgba(255, 255, 255, 0.6);
  --main-address-color: rgba(255, 255, 255, 1);
  --footer-studio: rgba(255, 255, 255, 1);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --checkbox-link: rgba(33, 150, 243, 1);
  --submit-color: rgba(24, 140, 232, 1);
  --commentary-form: rgba(117, 117, 117, 0.5);
  --agreement-text: #757575;
  --checkbox-border: rgba(33, 33, 33, 1);
  --subscribe-border: rgba(255, 255, 255, 0.3);
}

/*reset*/
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*styles*/
/*navigation*/
header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.page-nav,
.page-nav__list,
.contacts-list {
  display: flex;
}

.page-nav {
  align-items: center;
  min-height: 80px;
}

.page-nav__logo {
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 43px;
}

.page-nav__web {
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
}

.page-nav__list li:first-child {
  margin-left: 50px;
  margin-right: 50px;
}

.page-nav__list li:last-child {
  margin-left: 50px;
}

.page-nav__list .nav-list__link.current {
  color: var(--hover-color);
}

.page-nav__list .nav-list__link.current::after {
  opacity: 1;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-color);
  opacity: 0;
  transform: translateY(1px);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: rgba(33, 150, 243, 1);
}

.contacts-list {
  margin-left: 305px;
}

.contacts-list__item {
  color: rgba(117, 117, 117, 1);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-list__item:hover,
.contacts-list__item:focus {
  color: rgba(33, 150, 243, 1);
}

/*svg contacts navigation*/
.contacts-list__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list__tel {
  width: 10px;
  height: 16px;
  margin-left: 30px;
  margin-right: 10px;
  fill: currentColor;
}

/*hero*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/imghero.jpg');
}

.hero .container {
  height: 600px;
}

.hero-title {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  min-height: 120px;
}

.hero-title {
  padding-top: 200px;
  margin-left: 237px;
}

.hero-title__button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  color: var(--white-text);
  padding: 10px 32px;
  margin-top: 30px;
  border: none;
}

.hero-title__button {
  margin-top: 40px;
  margin-left: 485px;
}

/*about*/
.about {
  padding-top: 94px;
}

/*svg icons about*/
.icon-list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.icon-list li:nth-child(2) {
  margin: 0px 30px;
}

.icon-list li:nth-child(3) {
  margin-right: 30px;
}

.icon-list__rect {
  width: 270px;
  height: 120px;
  background-color: var(--rect-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-list__antenna {
  width: 70px;
  height: 70px;
}

.icon-list__clock {
  width: 70px;
  height: 70px;
}

.icon-list__diagram {
  width: 70px;
  height: 70px;
}

.icon-list__astronaut {
  width: 70px;
  height: 70px;
}

/*about list*/
.about-list {
  display: flex;
}

.about-list__item:first-child {
  margin-right: 30px;
}

.about-list__item:last-child {
  margin-left: 30px;
}

.about-list__item:nth-child(2) {
  margin-right: 30px;
}

.about-list__head {
  color: rgba(33, 33, 33, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-list__text {
  color: rgba(117, 117, 117, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: space-between;
  width: 270px;
}

/*spec*/
.special {
  padding-top: 94px;
  padding-bottom: 94px;
}

.special__head {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.special-list {
  display: flex;
  justify-content: space-between;
}

.special-list__item {
  position: relative;
}

.special-list__item:first-child {
  margin-right: 30px;
}

.special-list__item:last-child {
  margin-left: 30px;
}

.special-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-spec);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}

/*team*/
.team {
  display: flex;
  background-color: var(--team-back);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__head {
  color: rgba(33, 33, 33, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list__item {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:nth-child(2) {
  margin: 0 30px;
}

.team-list__item:nth-child(3) {
  margin-right: 30px;
}

.team-list__mate {
  color: rgba(33, 33, 33, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.team-list__special {
  color: rgba(117, 117, 117, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 16px;
}

/*svg team*/
.social-icons {
  display: flex;
  width: 206px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 32px;
  margin-right: 32px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover {
  background-color: var(--hover-color);
}

.social-icons__link:hover,
.social-icons__link:focus {
  color: var(--white-text);
  background-color: var(--hover-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*clients*/
.companies {
  padding-top: 94px;
  padding-bottom: 94px;
}

.companies__head {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*svg clients*/
.companies-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.companies__link {
  width: 170px;
  height: 90px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies__link:hover,
.companies__link:focus {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

/*svg client icons*/
.companies-icon__yaco {
  width: 45px;
  height: 50px;
  fill: currentColor;
}

.companies-icon__tagline {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.companies-icon__company {
  width: 42px;
  height: 42px;
  fill: currentColor;
}

.companies-icon__foster {
  width: 80px;
  height: 42px;
  fill: currentColor;
}

.companies-icon__brand {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.companies-icon__ctl {
  width: 88px;
  height: 45px;
  fill: currentColor;
}

/*footer*/
.footer {
  background-color: var(--back-color);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-text__logo {
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.footer-text__logo-studio {
  color: rgba(255, 255, 255, 1);
}

.address__main {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address-list__item:first-child {
  margin: 9px 0px;
}

.address-list__link {
  color: var(--address-color-link);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/*svg footer*/
.enjoy__head {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-left: 70px;
}

.enjoy-list {
  width: 206px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 70px;
  margin-top: 20px;
}

.enjoy-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-text);
  background-color: var(--enjoy-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.enjoy-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.enjoy-list__item:hover,
.enjoy-list__item:focus {
  color: var(--white-text);
  background-color: var(--hover-color);
}

/*subscribe*/
.subscribe {
  margin-left: 105px;
}

.subscribe-form div {
  margin-top: 20px;
}

.subscribe-form .subscribe-form-btn input {
  margin-right: 12px;
}

.subscribe-form-btn {
  display: flex;
}

.subscribe-form-btn__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--text-white);
  background-color: transparent;
  border: 1px solid var(--subscribe-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-form-btn__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-text);
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
}

.subscribe-form-btn__icon {
  margin-left: 10px;
  fill: currentColor;
}

.subscribe-form__title {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}

/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--background-modal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__call-me {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--h-color);
  margin-bottom: 12px;
}

.call-form .person-form input {
  width: 448px;
  height: 40px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
}

.call-form input:focus {
  border-color: var(--hover-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-form textarea {
  width: 448px;
  height: 120px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  resize: none;
  outline: none;
  display: block;
  padding: 12px 16px;
}

.call-form textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--commentary-form);
}

.call-form label {
  margin-bottom: 4px;
  display: block;
}

.call-form textarea:focus {
  border-color: var(--hover-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-form {
  margin-bottom: 10px;
}

.person-form__titles {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}

.person-frame {
  position: relative;
  height: 40px;
}

.person-frame:focus-within {
  fill: var(--hover-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-frame__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  color: var(--h-color);
}

.person-comment {
  margin-bottom: 20px;
}

.person-checkbox {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--agreement-text);
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

.person-checkbox__agree-input + .person-checkbox__icon {
  fill: none;
  border: 2px solid var(--checkbox-border);
  border-radius: 2px;
}

.person-checkbox__agree-input:checked + .person-checkbox__icon {
  fill: var(--white-text);
  background-color: var(--hover-color);
  border: none;
  border-radius: 2px;
}

.person-checkbox__agree-text {
  position: relative;
  padding-left: 36px;
}

.person-checkbox__agree-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.person-checkbox__icon {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
}

.person-checkbox__agree-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  color: var(--checkbox-link);
  border-bottom: 1px solid var(--checkbox-link);
  display: inline-block;
}

.person-checkbox__submit-button {
  width: 200px;
  height: 50px;
  background-color: var(--submit-color);
  color: var(--white-text);
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 40px auto 0;
  margin-top: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-checkbox__submit-button:hover,
.person-checkbox__submit-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-modal);
  fill: black;
  outline: none;
}

.modal__close-button:hover,
.modal__close-button:focus {
  fill: var(--hover-color);
}
