.team {
  display: flex;
  background-color: $team-back;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__head {
  color: $h-color;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
